menu = """

[d] depositar
[s] sacar
[e] extrato
[r] sair

=> """

saldo = 0
limite = 500
extrato = ""
numero_saques = 0
limite_saques = 3

while True:
    opcao = input(menu)

    if opcao == "d":
        valor = float (input("informe o valor do deposito: "))

        if valor > 0:
            saldo += valor
            extrato +=  f"deposito: R$ {valor: .2f} \n"

        else:
            print("operacao falhou! valor invalido." )

    elif opcao == "s":
        valor = float(input("digite o valor do saque: "))
        excedeu_saldo = valor > saldo

        excedeu_limite = valor > limite

        excedeu_saques = numero_saques >= limite_saques

        if excedeu_saldo:
            print("operacao falhou! voce nao tem saldo suficiente. ")
        
        elif excedeu_limite:
            print("operacao falhou! voce excedeu o limite de saque. ")
        
        elif excedeu_saques:
            print("operacao falhou! voce passou do numero de saques permitidos. ")

        elif valor > 0:
            saldo -= valor
            extrato += f"saque: R$ {valor: .2f}\n"
            numero_saques += 1
        else:
            print("operacao falhou! o valor informado é invalido. ")
    elif opcao == "e":
        print("\n=========extrato=======")
        print("não foram realizados movimentações." if not extrato else extrato)
        print(f"\nsaldo: R$ {saldo: .2f}")
        print("=================================")

    elif opcao == "r":
        break

    else:
        print("opcao invalida, digite novamente a opcao desejada: ")

